
@{
    ViewBag.Title = "Profile";
}
<link href="~/Content/css/profileuser.css" rel="stylesheet" />
@if (Session["UserID"] != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card1">
                    <div class="container">
                        <center>
                            <a href="/Login/Profile" class="profilelink">Hello : @Session["UserName"]</a>
                            <a href="/Login/Profile" class="profilelink">ข้อมูลส่วนตัว</a><br /><br /><br />
                            <a href="/Login/History" class="profilelink">รายการสั่งซื้อ</a><br /><br /><br />
                            <a href="/Login/Logout" class="profilelink">ออกจากระบบ</a><br />

                        </center>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="card2">
                    <div class="container">
                        <p class="hello">
                            Hello,
                        </p>
                        <p class="profilenameID">
                            @Session["UserName"]
                        </p><br />
                        <p class="profilepersonal">
                            ข้อมูลส่วนตัว
                        </p>
                        <a href="/Login/EditProfile" class="profilechangepersonal">
                            แก้ไขข้อมูลส่วนตัว <img class="imgchangepersonal" src="~/lib/images/profilechangepersonal.png" />
                        </a><br /><br />

                        <p class="profilepersonaldetail">
                            เบอร์โทรติดต่อ
                        </p>
                        <p class="profilepersonaldata">
                            @Session["UserPhone"]
                        </p><br /><br />
                        <p class="profilepersonaldetail">
                            อีเมล
                        </p>
                        <p class="profilepersonaldata">
                            @Session["UserEmail"]
                        </p><br /><br />
                        <p class="profilepersonaldetail">
                            รหัสผ่าน
                        </p>
                        <p class="profilepersonaldata">
                            @Session["UserPass"]
                        </p><br /><br />
                        <a asp-action="ChangePassword" class="profilechangepassword">
                            แก้ไขรหัสผ่าน
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
}