@model IEnumerable<ShoppingProject.ViewModel.BillModel>

@{
    ViewBag.Title = "Bill";
    decimal? TotalBill = 0.00M;
    decimal? Sentrate = 20.00M;
    decimal? vat = 0.07M;
}

<link href="~/Content/css/bill.css" rel="stylesheet" />

@if (Session["UserID"] != null)
{

    <div class="container"  style="margin-top: 10%">
        <h4 class="fontreceipt text-center">Receipt</h4><br />

        <div class="card1">
            <div class="row justify-content-center">
                <div class="col-12">
                    <img class="logo" src="~/lib/images/semilogo.png" />
                </div>
            </div>
            <hr class="line" /><br />
            <h5 class="font3 text-center editfont1">รายละเอียดคำสั่งซื้อ</h5><br />
            <div class="card2">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card4">
                            <p class="font3 detailnum1">เลขที่ใบสั่งซื้อ:</p>
                            <p class="font3 detailnum2">@Session["OrderNo"]</p><br /><br />
                            <p class="font3 detailnum1">วันที่สั่งซื้อ:</p>
                            <p class="font3 detailnum2">@Session["OrderDate"]</p><br /><br />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card3">
                            <p class="font3 editfont1">ข้อมูลลูกค้า</p>
                            <p class="font3 detailuser1">ชื่อ</p>
                            <p class="font3 detailuser2">@Session["UserFName"]</p><br /><br />
                            <p class="font3 detailuser1">ที่อยู่</p>
                            <p class="font3 detailuser2">@Session["UserAddress"]</p><br /><br />
                            <p class="font3 detailuser1">เบอร์โทร</p>
                            <p class="font3 detailuser2">@Session["UserPhone"]</p><br /><br />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="cardtable">
                <table class="table1">
                    <tr class="topic">
                        <th class="font3 top" style="width:50%">รายการ</th>
                        <th class="font3 top">จำนวน</th>
                        <th class="font3 top">ราคา</th>
                        <th class="font3 top">รวม</th>
                    </tr>
                    @foreach (var b in Model)
                    {
                        TotalBill += b.Bill_Total;
                        @*<tr class="topic">
                            <td class="intable1">@b.ItemName</td>
                            <td class="intable1">@b.Quantity.ToString(format: "#,##0")</td>
                            <td class="intable1">@b.UnitPrice.ToString(format: "#,##0.00")</td>
                            <td class="intable1">@b.Total.ToString(format: "#,##0.00")</td>
                        </tr>*@
                        <tr class="topic">
                                <td class="intable1">@b.ItemName</td>
                                <td class="intable1">@b.Bill_Qty</td>
                                <td class="intable1">@b.Bill_Price</td>
                                <td class="intable1">@b.Bill_Total</td>
                            </tr>
                    }
                </table>

            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="cardTY">
                        <h2 class="font3 editfont1">THANK YOU</h2>
                        <p class="font3 editfont2">
                            ทางเราจะรีบจัดส่งสินค้าให้เร็วที่สุด
                            กรุงเทพและปริมณฑล 1-2 วัน
                            ต่างจังหวัด 2-3 วัน
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card5">
                        <p class="font3 detailuser1">ราคารวม</p>
                        <p class="font3 detailuser3">@TotalBill.ToString()</p><br /><br />
                        <p class="font3 detailuser1">ค่าจัดส่ง</p>
                        <p class="font3 detailuser3">@Sentrate.ToString()</p><br /><br />
                        <p class="font3 detailuser1">ภาษีมูลค่าเพิ่ม</p>
                        <p class="font3 detailuser3">@vat.ToString()</p><br /><br />
                    </div>
                    <br />
                    <div class="cardprice">
                        <p class="font3 detailuser1">ราคารวมสุทธิ</p>
                        <p class="font3 fontprice">@TotalBill.ToString()</p><br /><br />
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <hr class="line" /><br />
        </div>
        <br /><br /><br />
        <a class="payment" onclick="window.print()" style="padding:10px;">พิมพ์ใบเสร็จ</a>
        <a href="/Shop/Payment" class="payment" style="padding:10px;">ชำระเงิน</a><br /><br /><br /><br /><br /><br /><br />
    </div>
}
