@model IEnumerable<ShoppingProject.ViewModel.ListModel>
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/Admin-data.css" rel="stylesheet" />
@if (Session["UserID"] != null)
{
    <img class="bgprofile1" src="~/lib/images/bgprofile1.png" />
    <img class="bgprofile2" src="~/lib/images/bgprofile2.png" />
    <div class="container"  style="margin-top: 10%">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card1">
                    <div class="container">
                        <center>
                            <p class="profilenamecard1">Hello : @Session["UserName"]</p><br />
                            <a href="/Admin/Data" class="profilelink">ข้อมูลยอดขาย</a><br /><br /><br />
                            <a href="/Admin/Add" class="profilelink">เพิ่มสินค้า</a><br /><br /><br />
                            <a href="/Admin/Index" class="profilelink">คลังสินค้า</a><br /><br /><br />
                            <a href="/Login/Logout" class="profilelink">ออกจากระบบ</a><br /><br /><br />
                        </center>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="card2">
                    <div class="container">
                        <p class="hello">
                            Admin Manager
                        </p>
                        <br />
                        <p class="profilepersonal">
                            คลังสินค้า
                        </p><br /><br />
                        <div style="overflow-x:auto;">
                            <table class="deletetable ordertable">
                                <tr class="topic">
                                    <th class="intable1 orderth font2">ประเภท</th>
                                    <th class="intable1 orderth font2">รูปสินค้า</th>
                                    <th class="intable1 orderth font2">โค้ดสินค้า</th>
                                    <th class="intable1 orderth font2">ชื่อสินค้า</th>
                                    <th class="intable1 orderth font2">ราคาสินค้า</th>
                                    <th class="intable1 orderth font2">ราคาสินค้า</th>
                                    <th class="intable1 orderth font2">จำนวนสินค้า</th>
                                    <th class="intable1 orderth font2"></th>
                                    <th class="intable1 orderth font2"></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                            <tr class="topic">
                                <td class="intable1 orderth font2">@item.Type</td>
                                <td class="intable1 orderth"><img class="admin-product" src="@Url.Content(@item.Li_Img)" /></td>
                                <td class="intable1 orderth font2">@item.li_Code</td>
                                <td class="intable1 orderth font2">@item.Li_Name</td>
                                <td class="intable1 orderth font2">@item.Li_Des</td>
                                <td class="intable1 orderth font2">@item.Li_Price บาท</td>
                                <td class="intable1 orderth font2">@item.Li_Unit บาท</td>
                                <td class="intable1 orderth font2">@Html.ActionLink("Edit", "Edit", "Admin", new { id = item.Li_Id, @class = "fa fa-trash edit font" }, null)</td>
                                <td class="intable1 orderth font2">@Html.ActionLink("Delete", "Delete", "Admin", new { id = item.Li_Id, @class = "fa fa-trash" }, null)</td>
                            </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
